@model Models.RegisterRequest
@{
    ViewData["Title"] = "Edit User";
}

<h2>Edit User</h2>
<form asp-action="EditUser" method="post">
    <input type="hidden" asp-for="empId" />
    <label>Username</label>
    <input name="username" /><br />

    <label>Password</label>
    <input name="password" type="password" /><br />

    <label>Role</label>
    <select name="role">
        <option value="Admin">Admin</option>
        <option value="Employee">Employee</option>
    </select><br />

    <button type="submit">Update</button>
    <a href="/Admin/ManageUsers">Back</a>
</form>