@{
    ViewData["Title"] = "Admin Dashboard";
}

<h2>Admin Dashboard</h2>
<p><a href="/Admin/ManageEmployees">Manage Employees</a></p>
<p><a href="/Admin/ManageUsers">Manage Users</a></p>
<p><a href="/Account/Logout">Logout</a></p>